{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class ="row">
            <h2 class="form-signin-heading">Add Item</h2>
        </row>
      <div class="col">
        <form id="user_form" method="post" action="" class="form" role="form">
            {% csrf_token %}
            <input type="text" class="form-control" name="barcode"  value="{{user_form.barcode}}" placeholder="Enter Unique Barcode Number">
            <input type="text" class="form-control" name="weight" placeholder="Enter Item Weight" required>
            <input type="text" class="form-control" name="price" placeholder="Enter Item Price" required> 
            <input type="text" class="form-control" name="stock" placeholder="Enter the current stock of this Item" required> 
            <input type="text" class="form-control" name="store" placeholder="Enter Store where Item is Available" required>            
            <input type="text" class="form-control" name="type" placeholder="Enter Item Type I.E (Pendant, Ring, Necklace, Bracelet, Watch, Other)" required>
            <br></br>
            <button class="btn btn-primary" type="submit">Save</button>
        </form> 
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Read me</h5>
              <p class="card-text">&#9642;Fill out all fields on the left to insert a new item into the database.<br></br>
                &#9642;Ensure that all fields are filled and barcode is unique</p>
              <a href="/items" class="btn btn-primary">Back to Items</a>
            </div>
          </div>
      </div>
    </div>
{% endblock %}

