{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class ="row">
            <h2 class="form-signin-heading">Delete Item</h2>
        </row>
      <div class="col">
        <form id="user_form" method="post" action="" class="form" role="form">
            {% csrf_token %}
            <input type="text" class="form-control" name="deleteitem" placeholder="Enter Item ID to Delete from Database" required>
            <button class="btn btn-primary" type="submit">DELETE</button>
        </form> 
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Read me</h5>
              <p class="card-text">&#9642;Type in the item ID number on the right to delete from the database.<br></br>
              <a href="/items" class="btn btn-primary">Back to Items</a>
            </div>
          </div>
      </div>
    </div>
{% endblock %}

