{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}
<h1> {{ system }} Returned Result </h1>
<div class="container-fluid">
  <div class = "row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Item ID</th>
          <th scope="col">Barcode</th>
          <th scope="col">Weight</th>
          <th scope="col">Price</th>
          <th scope="col">Type</th>
          {% comment %} <th scope="col">StoreID</th>
          <th scope="col">Stock</th> {% endcomment %}
        </tr>
      </thead>
      <tbody>
          {% for x in row %}
          <tr>
              {% for col in x %}
                  <td>{{ col }}</td>
              {% endfor %}
          </tr>
          {% endfor %}
          </table>
        </tbody>
    </table>
  </div>
</div>    
<div class = "row">
  <a class="btn btn-primary" href="/items" role="button">Back to Items</a>
</div>
{% endblock %}

