{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class ="row">
            <h2 class="form-signin-heading">Add New Supplier</h2>
        </row>
      <div class="col">
        <form id="user_form" method="post" action="" class="form" role="form">
            {% csrf_token %}
            <input type="text" class="form-control" name="SupplierName"  value="{{user_form.SupplierName}}" placeholder="Enter the Supplier Name" required>
            <input type="text" class="form-control" name="SupplierEmail" placeholder="Enter Supplier Email Address" required>
            <div class="input-group">
              <input type="text" class="form-control" name = "areacode" placeholder="Enter area code" required>
              <span class="input-group-addon">-</span>
              <input type="text" class="form-control" name="phonenumber" placeholder="Enter supplier phone number excluding area code" required>
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form> 
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Read me</h5>
              <p class="card-text">&#9642;Fill out all fields on the left to insert a new supplier into the database.<br></br>
                &#9642;Ensure that all fields are fille.</p>
              <a href="/supplier" class="btn btn-primary">Back to Supplier List</a>
            </div>
          </div>
      </div>
    </div>
{% endblock %}

