<!DOCTYPE html>
{% if user.is_authenticated %}
<body>
    <html>
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Jewelry Store{% endblock %}</title>
        </head>
        <body>
            {% include 'navbar.html'%}
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </body>
        </html>
</body>
{% else %}
<script>
    window.location.href = 'accounts/login' // Redirect to login if not authenicated 
</script>
{% endif %}