{% extends 'base.html' %}

{% block title %}Customer List{% endblock %}

{% block content %}

<h1>Customer List</h1>
{% comment %} <table border="1">
    {% for x in row %}
    <tr>
        {% for col in x %}
            <td>{{ col }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table> {% endcomment %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">YOOHOO</th>
                <th scope="col">Barcode</th>
                <th scope="col">Weight</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
                {% for x in row %}
                <tr>
                    {% for col in x %}
                        <td>{{ col }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </table>
              </tbody>
          </table>
{% endblock %}
