{% extends 'base.html' %}

{% block title %}Customer List{% endblock %}

{% block content %}
<h1>Customer List</h1>
<div class="row">
  <div class="col-sm">
    <a class="btn btn-primary" href="customers/addcustomer" role="button">Add New Customer</a>
  </div>
  <div class="col-sm">
  </div>
  <div class="col-sm">
    One of three columns
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">PersonID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {% for x in row %}
    <tr>
      {% for col in x %}
      <td>{{ col }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</tbody>
{% endblock %}
