{% extends 'base.html' %}

{% block title %}Find Employee{% endblock %}

{% block content %}
<h1>Employees</h1>
<div class="container-fluid">
  <div class="row">
  <div class="row">
    <div class="col-sm">
      <a class="btn btn-primary" href="/employees/addemployee.html" role="button">Add Employee</a>
    </div>
    <div class="col-sm">
      <a class="btn btn-primary" href="#" role="button">Delete Employee</a>
    </div>
    <div class="col-sm">
      <a class="btn btn-primary" href="/admin" role="button">Add/Remove Employee Login</a>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">StoreID</th>
        <th scope="col">PersonID</th>
        <th scope="col">SSN</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
        {% for x in row %}
        <tr>
            {% for col in x %}
                <td>{{ col }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
      </tbody>
  </table>
</div>
</div>

{% endblock %}