{% extends 'base.html' %}
{% if user.is_authenticated %}
<body>
    {% block title %}Home{% endblock %}

    {% block content %}
    <div class"row">
        <h1>Homepage</h1>
    </div>
    
    <div class="container">
        <div class="row">
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
        </div>
      </div>

    {% endblock %}
</body>
{% else %}
<script>
    window.location.href = 'accounts/login' // Your login page URL
</script>
{% endif %}