{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}Items{% endblock %}

{% block content %}
<h1>Items</h1>
<div class="container">
  <div class="row">
    <div class="col"> 
      <div class="mr-auto">
        {% csrf_token %}
        <form method="POST" action="/items/lookup">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" class="form-control form-control-sm" name="system" placeholder="Search Item Type: I.E 'Pendant' ">
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <a class="btn btn-primary" href="items/additem" role="button">Add Item</a>
    </div>
    <div class="col-sm">
      {% comment %} <a class="btn btn-primary" href="items/deleteitem" role="button">Delete Item</a> {% endcomment %}
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class = "row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Item ID</th>
          <th scope="col">Barcode</th>
          <th scope="col">Weight</th>
          <th scope="col">Price</th>
          <th scope="col">Type</th>
          {% comment %} <th scope="col">StoreID</th>
          <th scope="col">Stock</th> {% endcomment %}
        </tr>
      </thead>
      <tbody>
          {% for x in row %}
          <tr>
              {% for col in x %}
                  <td>{{ col }}</td>
              {% endfor %}
          </tr>
          {% endfor %}
          </table>
        </tbody>
    </table>
  </div>
</div>    
{% endblock %}

