<nav>
    {% url 'index' as index_url %}
    <span>{% if request.path == index.url %}Home{% else %} <a href="{{ index_url }}">Home</a>{% endif %}</span>

    {% url 'customerlist' as customerlist_url %}
    <span>{% if request.path == customerlist.url %}Customer List{% else %} <a href="{{ customerlist_url }}">Customer List</a>{% endif %}</span>
    
    {% url 'findemployee' as findemployee_url %}
    <span>{% if request.path == findemployee.url %}Employees{% else %} <a href="{{ findemployee_url }}">Employees</a>{% endif %}</span>

    <span style="float:right">
        {% if user.is_authenticated %}
            <span>Hi {{ user.username }}</span>
            <span><a href="{% url 'logout' %}">Logout</a></span>
        {% else %}
            <span><a href="{% url 'login' %}">Login</a></span>
        {% endif %}
    </span>


</nav>