{% extends 'base.html' %}

{% block title %}Raw Inventory{% endblock %}

{% block content %}

<h1>Raw Inventory</h1>
    <div class="row">
      <div class="col-sm">
        <a class="btn btn-primary" href="rawInventory/addGem" role="button">Add Gem</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-primary" href="rawInventory/addMetal" role="button">Add Metal</a> 
      </div>
      <div class="container-fluid">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Supplier ID</th>
              <th scope="col">Supplier Name</th>
              <th scope="col">BatchNo</th>
              <th scope="col">Metal Type</th>
              <th scope="col">Quantity (Metal)</th>
              <th scope="col">Price (Metal)</th>
              <th scope="col">Karat</th>
              <th scope="col">CertificateNo</th>
              <th scope="col">Gem Type</th>
              <th scope="col">Carat</th>
              <th scope="col">Cut</th>
              <th scope="col">Price (Gem)</th>
            </tr>
          </thead>
          <tbody>
              {% for x in row %}
              <tr>
                  {% for col in x %}
                      <td>{{ col }}</td>
                  {% endfor %}
              </tr>
              {% endfor %}
              </table>
            </tbody>
        </table>
      </div>
{% endblock %}
