{% extends 'base.html' %}

{% block title %}Store Inventory{% endblock %}

{% block content %}

<h1>Store Locations and Numbers</h1>
<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">StoreID</th>
        <th scope="col">Number</th>
        <th scope="col">City</th>
        <th scope="col">Province</th>
        <th scope="col">Postal Code</th>
        <th scope="col">Street</th>
        <th scope="col">StoreID</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Area Code</th>
      </tr>
    </thead>
    <tbody>
        {% for x in row %}
        <tr>
            {% for col in x %}
                <td>{{ col }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
      </tbody>
  </table>
</div>
{% endblock %}
