{% extends 'base.html' %}
{% block title %}Supplier List{% endblock %}
{% block content %}
<h1>Supplier List</h1>
<div class="row">
  <div class="col-sm">
    <a class="btn btn-primary" href="suppliers/addsupplier" role="button">Add Supplier</a>
  </div>
  <div class="col-sm">
    {% csrf_token %}
    <form method="POST" action="/supplier">
      {% csrf_token %}
      <div class="input-group mb-3">
        <a class="btn btn-primary" href="suppliers/deletesupplier" role="button">Delete Supplier</a>
      </div>
    </form>
  </div>
  <div class="col-sm">
  </div>
</div>
<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Supplier ID</th>
        <th scope="col">Company Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      {% for x in row %}
      <tr>
        {% for col in x %}
        <td>{{ col }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
    </table>
</div>
{% endblock content %}